.lead__title{
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
}


@media (max-width: 768px){
    .lead__title{
        max-width: calc(100% - (32px + 16 * (100vw - 320px) / 448));
        font-size: calc(40px + 56  * (100vw - 320px) / 448);
        line-height: 1.1; 
    }
}

@media (max-width: 425px){
    .lead__title{
        min-width: 288px;
        font-size: 40px; 
    }
}
