.cover__text{
    max-width: 560px;
    padding: 245px 0;
    margin: 0 auto;
}

@media (max-width: 1024px){
    .cover__text{
        padding: 195px 0;
    }
}

@media (max-width: 768px){
    .cover__text{
        max-width: calc(288px + 272 * (100vw - 320px) / 448);
        padding: 115px 0;
    }
}

@media (max-width: 425px){
    .cover__text{
        max-width: 288px;
        padding: 33px 0;
    }
}