.plase__website{
    max-width: 456px;
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 1024px){
    .plase__website{
        max-width: 352px;
        margin-right: 0;
    }
}


@media (max-width: 425px){
    .plase__website{
        max-width: 288px;
        padding: 0 16px 0;
    }
}