.place__text{
    max-width: 484px;
    margin-top: 48px;
}

@media (max-width: 1024px){
    .place__text{
        max-width: 456px;
    }
}

@media (max-width: 768px){
    .place__text{
        max-width: 352px;
    }
}

@media (max-width: 425px){
    .place__text{
        max-width: 288px;
        margin-top: 32px;
        margin: 0 auto;
    }
}