.place__text{
    max-width: 484px;
}

@media (max-width: 1024px){
    .place__text{
        max-width: 456px;
    }
}

@media (max-width: 768px){
    .place__text{
        max-width: 352px;
        margin-top: 0;
    }
}

@media (max-width: 425px){
    .place__text{
        max-width: 288px;
        margin: 0 auto;
    }
}