@font-face {
	font-family: 'Inter-Regular';
	src: url('/fonts/Inter-Regular.eot');
	src: local('☺'), url('/fonts/Inter-Regular.woff') format('woff'), url('/fonts/Inter-Regular.ttf') format('truetype'), url('/fonts/Inter-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter-Black';
	src: url('/fonts/Inter-Black.eot');
	src: local('☺'), url('/fonts/Inter-Black.woff') format('woff'), url('/fonts/Inter-Black.ttf') format('truetype'), url('/fonts/Inter-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}


@import url(../vendor/normalize.css);


.page {
    max-width: 1280px;
    display: block;
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family:  inter, sans-serif;
    color: #FFFFFF;
}

.header{
    max-width: calc(100% - 96px); 
    padding-top: 28px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  
}

.header__logo{
    width: 176px;
}

.header__links{
    margin-top: 18px;
    margin-bottom: 6px;
}

.header__lang-link{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: right;
    text-decoration-line: underline;
    margin: 0;
}

.header__lang-link:last-child{
    text-decoration: none;
    margin-left: 18px;
}

.content{
    width: 100%;
    margin: 0 auto;
}

.lead{
    width: calc(100% - 296px);
    padding-top: 56px;
    position: relative;
    margin: 0 auto;
}

.lead__title{
    max-width: 720px;
    padding-top: 56px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;   
}

.lead__subtitle{
    max-width: 640px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 64px;
}
.lead__image{
    max-width: 100%;
    height: 615px;
    background-image: url(../images/lead-polka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.lead__caption{
    width: calc(158 / 984 * 100 * 1%);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
    margin-top: 8px;
    text-transform: uppercase;
}

/*Блок ИНТРО*/

.intro{
    width: 690px;
    padding: 92px 0 92px;
    margin: 0 442px 0 148px;
}


.intro__list{
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.intro__text{
    max-width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
    margin: 0 0 33px;
}

.intro__title{
    width: 100%;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 40px;
}

.photo-grid{
    max-width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin: 0 auto;
}

.photo-grid__item{
    max-width: 100%;
    object-fit: cover;
}

/*Блок plases*/
.plases{
    width: calc(984 / 1280 * 100 * 1%);    
    padding-top: 92px;
    padding-bottom: 92px;
}

.plase{
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.plase:last-child{
    margin-bottom: 0;
}

.plase__title{
    width: calc(460 / 984 * 100 * 1%);
    width: 46.748%;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

.plase__image{
    width: calc(460 / 984 * 100 * 1%);
    object-fit: cover;
    margin:  48px 40px 0 0;
}

.plase__website{
    width: calc(456 / 984 * 100 * 1%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.plase__url-heading{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    margin-bottom: 12px;
}

.plase__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration-line: underline;
}

.plase__text{
    width: calc(484 / 984 * 100 * 1%);
    margin-top: 48px;
}

.plase__paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    margin: 0 0 26px;
}

.plase__paragraph:last-child{
    margin-bottom: 0;
}

.cover{
    width: calc(1184 / 1280 * 100 * 1%);
    height: 740px;
    position: relative;
    margin: 0 auto;
}

.cover__background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
}
/*
.cover__overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
}
*/
.cover__link{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover__text{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin: 0;
}

.cover__title{
    width: calc(560 / 1184 * 100 * 1%);
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 auto;
    text-align: center;
}

.cover__subtitle{
    width: calc(360 / 1184 * 100 * 1%);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 32px auto 0;
    text-align: center;
}

.footer{
    width: calc(100% - 96px);
    padding: 92px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__links{
    width: calc(460 / 1184 * 100 * 1%);
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__cell{
    margin-left: 18px;
}

.footer__cell:first-child{
    margin-left: 0;
}

.footer__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__copyright{
    width: calc(460 / 1184 * 100 * 1%);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    text-align: right;
}

.link__hover:hover{
    opacity: .8;
    transition-duration: 1.5s;
}

.box{
    border: 1px solid rebeccapurple;
}

@media (max-width: 1280px){}
@media (max-width: 1024px){
    
}
@media (max-width: 768px){
   
}
@media (max-width: 320px){
    
}